<main class="index-main">
  <h2 class="center-align z-depth-3">A boilerplate for some of the famouse social media sites and local authuntication.</h2>
  <div class="center-align">
  <a href="/login"><i class="material-icons fa fa-key fa-5x" aria-hidden="true"></i></a>
  <a href="/auth/facebook"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
  <a href="/auth/google"><i class="fa fa-google-plus fa-5x" aria-hidden="true"></i></a>
  <a href="/auth/twitter"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
  <a href="/auth/github"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a>
  </div>
  <!-- <img class="circle center-align z-depth-3 responsive-img google" src="https://raw.githubusercontent.com/brenopolanski/saiku-digest-authentication/gh-assets/logo.png" alt=""> -->
  <!-- <img class="circle center-align z-depth-3 responsive-img google" src="https://www.facebookbrand.com/img/fb-art.jpg" alt=""> -->

  <!-- <img class="circle center-align z-depth-3 responsive-img google" src="http://cdn.arstechnica.net/wp-content/uploads/2015/09/GooglePlus-logos-02-980x980.png" alt=""> -->

  <!-- <img class="circle center-align z-depth-3 responsive-img google" src="https://pmcdeadline2.files.wordpress.com/2014/06/twitter-logo.png?w=970" alt=""> -->

  <!-- <img class="circle center-align z-depth-3 responsive-img google" src="https://alanorth.github.io/github-pages-2015/img/GitHub-Logo-Mark.png" alt=""> -->
</main>
