<h1>Sign In</h1>
<% if (message.length > 0) { %>
  <div class="alert-danger"><%= message %></div>
<% } %>
<div class="row">
  <form action="/login" method="post">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="text" name="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" name="password" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
  </form>
</div>
