<h1>SignUp</h1>
<% if (message.length > 0) { %>
  <div class="alert-danger"><%= message %></div>
<% } %>
<div class="row">
  <form class="col s12" role='form' method="post" action="/signup">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" name="name" class="validate">
        <label for="name">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" >Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
