<main class="index-main">
<h1>User Profile:</h1>
<div class="row">
 <div class="col s12 m8 l4">
   <div class="card">
     <div class="card-image">
       <img src="http://www.asthmamd.org/images/icon_user_1.png">
       <span class="card-title">
       </span>
     </div>
    <div class="card-content">
      <h3 class="center-align"><%= user.local.name || user.facebook.name || user.google.name || user.twitter.name || user.github.name %></h3>
      <div class="center-align">
       <% if(!user.twitter.email || !user.github.email) {%>
        <h6>Email: <%= user.local.email || user.facebook.email || user.google.email %></h6>
       <%}%>
       <strong>Accounts Connected</strong>
       <p>
         <% if(user.facebook.id) {%>
           <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
         <%}%>
         <% if(user.github.id) {%>
           <i class="fa fa-github fa-2x" aria-hidden="true"></i>
         <%}%>
         <% if(user.twitter.id) {%>
           <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
         <%}%>
         <% if(user.google.id) {%>
           <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
         <%}%>
         <% if(user.local.email) {%>
           <i class="fa fa-key fa-2x" aria-hidden="true"></i>
         <%}%>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
 <div class="center-align">
 <% if(!user.facebook.id) {%>
   <a href="/auth/facebook"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
 <%}%>
 <% if(!user.local.email && !user.google.id) {%>
  <a href="/login"><i class="material-icons fa fa-key fa-5x" aria-hidden="true"></i></a>
  <%}%>
  <% if(!user.google.id && !user.local.email) {%>
   <a href="/auth/google"><i class="fa fa-google-plus fa-5x" aria-hidden="true"></i></a>
 <%}%>
 <% if(!user.twitter.id) {%>
   <a href="/auth/twitter"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
 <%}%>
 <% if(!user.github.id) {%>
   <a href="/auth/github"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a>
 <%}%>
 </div>
</main>
